body {
  font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  line-height: 16px;
  position: relative;
  background: #e5e5e5;
}


.header-background {
  background: #333;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 44px;
  width: 100%;
}
#branding {
  background: #333;
  height: 24px;
  color: #fff;
  padding: 10px 0;
  position: relative;
}
#branding h1 {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
}
#branding nav {
  position: absolute;
}
#branding nav.main {
  top: 12px;
  right: 500px;
  width: auto;
}
#branding nav.user {
  top: 3px;
  right: 10px;
  text-align: right;
}
#branding nav h1 {
  display: none;
}
#branding nav.user li {
  border-right: 1px solid #666;
  width: auto;
  display: inline;
}
#branding nav.user li:last-child {
  border: 0px;
}
#branding nav.user li a {
  font-size: 11px;
  text-decoration: underline;
  color: #fff;
  display: inline-block;
  padding: 0px 3px;
}
#branding nav.user li a:hover {
  background: #000;
}
#branding nav.main li {
  display: inline;
  width: auto;
  padding: 4px 8px 4px 8px;
  margin: 0 2px 0 0;
  background: #666;
}
#branding nav li:hover {
  background: #000;
}
#branding nav.main li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}




footer {
  padding: 10px 0;
  text-align: right;
  font-size: 10px;
  color: #666;
}



section.content {
  background: #fff;
  font-size: 12px;
  margin-top: 10px;
  -moz-box-shadow: 2px 2px 7px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  padding: 0px 0px 5px 0px;
}
section.content.grid_12 {
  margin-right:20px;
  width: 700px;
}
section.content h2 {
  font-size: 16px;
  font-weight: bold;
}
section.content header {
  background: #EDF3FE;
  padding: 10px 20px;
}



aside.sidebar {
  margin-top: 10px;
}
aside.sidebar section {
  clear: both;
}
aside.sidebar section.actions.large ul {
  width: 100%;
}
aside.sidebar section.actions.large li {
  clear: both;
}
aside.sidebar section.actions.large li a {
  text-decoration: none;
  margin-bottom: 5px;
}


nav.filter ul {
  display: block;
  padding: 3px 0px 4px 0;
  margin: 0 0 2px 0;
}
nav.filter li {
  display: inline-block;
}
nav.filter li a {
  padding: 4px 8px 4px 8px;
  line-height: 16px;
  margin: 0 2px 0 0;
  background: #eee;
  color: #666;
  text-decoration: none;
}
nav.filter li a:hover {
  background: #666;
  color: #fff;
}
nav.filter li.selected a {
  background: #f9f9f9;
}
nav.filter li.selected a:hover {
  background: #eee;
  color: #666;
}





.people .new header img {
  float: left;
  margin-right: 20px;
  border: 1px solid #ccc;
}
.people .new header legend {
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 24px;
  margin-bottom: 13px;
  font-weight: bold;
}
.people .new form label[for='person_first_name'],
.people .new form label[for='person_last_name'] {
  font-size: 14px;
  line-height: 20px;
  padding-top: 2px;
}
.people .new form input#person_first_name,
.people .new form input#person_last_name {
  font-size: 18px;
  padding: 0px;
}
.people .new form > fieldset {
  padding-left: 97px;
  padding-top: 10px;
}





form label {
  font-weight: bold;
  width: 150px;
  display: inline-block;
  line-height: 24px;
  margin-top: 0px;
}
form div.string {
  margin: 0 0 11px 0;
}
form select {
  font-size: 12px;
}
form div.string input,
form div.number input,
form div.email input {
  width: 350px;
  font-size: 12px;
  margin-top: -2px;
}
form label abbr[title] {
  border-bottom: 0px;
}
form div.selector {
  display: inline-block;
  margin-bottom: -8px;
}
form fieldset div.fields {
  position: relative;
  width: 506px;
  padding-bottom: 9px;
}
form fieldset div.fields div.string {
  margin-bottom: 0px;
}
form fieldset div.fields input {
  width: 250px;
}
form fieldset div.fields a.remove {
  background: transparent url(/images/remove.png) no-repeat scroll left top;
  width: 20px;
  height: 21px;
  display: block;
  position: absolute;
  right: 0px;
  top: 1px;
  color: transparent;
}
form fieldset div.fields a.remove:hover {
  background-position: left bottom;
}
form fieldset div.fields a.add {
  color: #999;
  display: block;
  text-decoration: none;
  font-size: 11px;
  padding-left: 150px;
  margin-top: -5px;
}
form fieldset div.fields div.select {
  position: absolute;
  top: -1px;
  right: 18px;
}
form fieldset div.fields div.select label {
  display: none;
}
form fieldset div.fields div.select select,
form fieldset div.fields div.select div.selector {
  width: 65px;
}
form fieldset div.fields div.select div.selector span {
  width: 30px;
}